<html>
<title>Index</title>
<body>
<table style="width:100%; text-align:center" border="1">
<tr>
<td>Name</td>
<td>Description</td>
<td>Content</td>
<td>Edit</td>
<td>Delete</td>




</tr>
  {{#each title}}
<tr>
  <td>{{name}}</td>
   <td>{{description}}</td>
    <td>{{content}}</td>
    <td><a href="/edit?id={{_id}}">Edit</a></td>
    <td><a href="/delete?id={{_id}}">Delete</a></td>

</tr>
  {{/each}}
</table>
<form action="new_data" method="post">
        <p>
          NAME:<input type="text" id="name" name="name" value="" />
                
        </p>
	<p>
         DESCRIPTION: <input type="text" id="description" name="description" value="" />
                
        </p>
	<p>
         CONTENT: <input type="text" id="content" name="content" value="" />
                
        </p>

        <p>
          <button name="submit" type="submit">Submit</button>
        </p>
      </form>
</body>
</html>
